@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Darker Grotesque", sans-serif;
  font-display: swap;
  color: #06091d;
}

body,
html,
#root {
  height: 100%;
  scroll-behavior: smooth;
}

// app

.app {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;

  &__inner {
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;
  }
}

// header

.header_container {
  grid-row-start: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  border-bottom: 4px solid #00a9a5
  ;

  background-color: #092327;

  &__logo img {
    width: 100px;
  }

  &__title {
    color: #00a9a5;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__link {
    text-decoration: none;
    color: #06091d;
    font-size: 1.5rem;
  }
}

// google map

.map_container {
  grid-row-start: 2;
  position: relative;
}

// project popup

.project-popup {
  width: 250px;
  height: 350px;

  &__project-image {
    display: block;
    width: 100%;
    height: 150px;
  }

  &__project-title {
    font-weight: 600;
    margin: 0.5rem 0;
    align-content: center;
  }

  &___project-architect {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
  }
}
