@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Darker Grotesque", sans-serif;
  font-display: swap;
  color: #06091d;
}

body,
html,
#root {
  height: 100%;
  scroll-behavior: smooth;
}

// app

.app {
  margin: 0 auto;
  max-width: 100%;
  height: 100%;

  &__inner {
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;
  }
}

// header

.header_container {
  grid-row-start: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

  border-bottom: 4px solid #00a9a5;

  background-color: #092327;

  &__logo img {
    width: 100px;
  }

  &__title {
    padding: 0;
    margin: 0;
    color: #00a9a5;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
  }

  &__language-switcher {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
}

.language-icon img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.language-menu-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  z-index: 10;
  top: 40px;
  right: 0;
  width: 100px;

  border: 4px solid #00a9a5;
  border-radius: 10px;
  background-color: white;

  cursor: pointer;

  &__language {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
  }

  &__language:hover {
    background-color: #00a9a5;
    color: white;

  }
}

// google map

.map_container {
  grid-row-start: 2;
  position: relative;
}

// project popup

.project-popup {
  width: 250px;
  height: 350px;

  &__project-image {
    display: block;
    width: 100%;
    height: 150px;
  }

  &__project-title {
    font-weight: 600;
    margin: 0.5rem 0;
    align-content: center;
  }

  &___project-architect {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
  }

  &__google-maps-button {
    text-align: center;
    padding: 5px;
    border: 2px solid #00a9a5;
    color: #092327;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }

  &__google-maps-button:hover {
    background-color: #00a9a5;
    color: white;
  }
}

@media (max-width: 768px) {
  .app {
    &__inner {
      grid-template-rows: 80px 1fr;
    }
  }

  .header_container {
    padding: 20px 20px;

    &__title {
      font-size: 1.5rem;
    }
  }

  .project-popup {
    width: 200px;
    height: 300px;
  }
}
